@import "tailwindcss";

@theme {
  --color-textile-gold: #C5A059;
  --color-textile-cream: #FDFBF7;
  --color-textile-dark: #2D2926;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  background-color: var(--color-textile-cream);
}